<div class="niaid-header-background background-flat">
  <div class="niaid-system-user">
    <span class="mdi mdi-account-circle"></span>
    <span>
      <span>John Doe</span>
      <span class="niaid-system-user-comment">
        <span>
          DMID
        </span>
      </span>
    </span>
    <span class="mdi mdi-dots-vertical dropdown-toggle clickable" data-toggle="dropdown" title="More Options" aria-expanded="true"></span>
  </div><!-- /.niad-system-user -->
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="" title="Link to home page">
      <img src="../../assets/images/niaid-logo-internal-site-white.svg" alt="National Institute of Allergy and Infectious Diseases (N I A I D) Official Logo" />
      <div class="niaid-application-name">
        <h1>RMS</h1>
        <h2>RPE Planning and Execution</h2>
      </div>
    </a>
  </div><!-- /.navbar-header -->
</div><!-- /.niaid-header-background -->
