table {
  min-height: 450px;
  max-height: 450px;
  width: 100%;
  display: block;
  overflow-y: auto; 
  overflow-x: hidden;
}


.fixed-height {
  display: block;
  overflow-y: auto;
  border: thin solid #e0d8d8
}

th {
  background-color: #f5f5f5;
  vertical-align: middle;
}

table tfoot {
  background-color: #f5f5f5;
}

.footer .first {
  margin-left: 15px;
}

.footer button {
  margin-right: 5px;
}

.footer input {
  width: 40px;
  padding: 5px;
}

.footer label {
  margin: 5px;
}

.footer .last {
  margin-left: auto;
  margin-right: 20px;
}
