<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col" *ngFor="let header of headers;index as i;"
          [style.text-align]="columnAlignments && columnAlignments[i]?columnAlignments[i]:left"
          [width]="columnWidths && columnWidths[i]?columnWidths[i]:'auto'">
        <span *ngIf="sortable && sortable[i] && columns[i]" (click)="onHeaderClick(columns[i])" class="sortable">
          {{ header }}
          <i *ngIf="columns[i]!=sortBy" class="fas fa-sort"></i>
          <i *ngIf="columns[i]==sortBy && sortDir=='asc'" class="fas fa-sort-alpha-down"></i>
          <i *ngIf="columns[i]==sortBy && sortDir=='desc'" class="fas fa-sort-alpha-up"></i>
        </span>
        <span *ngIf="sortable && !sortable[i]">
          {{ header }}
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records">
      <td scope="row" *ngFor="let column of columns;index as i;"
          [style.text-align]="columnAlignments && columnAlignments[i]?columnAlignments[i]:left">
        <span *ngIf="columnTypes && columnTypes[i]==='text'">{{ record[column]  }}</span>
        <span *ngIf="columnTypes && columnTypes[i]==='currency'">{{ record[column] | currency }}</span>
        <span *ngIf="columnTypes && columnTypes[i]==='date'">{{ record[column] | date:'shortDate' }}</span>
        <span *ngIf="columnTypes && columnTypes[i]==='action'" class="actions">
          <i title="view details" class="fas fa-ellipsis-h"></i>
          <i title="add to-do note" class="fas fa-sticky-note"></i>
          <i title="delete record" class="fas fa-trash-alt"></i>
        </span>
        <img *ngIf="columnTypes && columnTypes[i]==='image' && record[column]" [src]="record[column]" alt="no image" />
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td [attr.colspan]="footerColSpan">
        <div class="row footer">
          <label><b>Page Size:</b></label>
          <select name="pageSizes" (change)="pageSizeChanged($event.target.value)">
            <option *ngFor="let page of pages" [selected]="page==selectedPageSize">{{page}}</option>
          </select>

          <label><b>Displaying Page</b></label>
          <input type="text" [ngModel] [value]="currentPage" (change)="moveTo($event.target.value)">
          <label><b>of {{pageCount}}</b></label>

          <button type="button" class="btn btn-outline-primary first" (click)="moveFirst()" [disabled]="currentPage==1">
            <i class="fa fa-angle-double-left"></i>
          </button>

          <button type="button" class="btn btn-outline-primary" (click)="previous()" [disabled]="currentPage==1">
            <i class="fa fa-angle-left"></i>
          </button>

          <button type="button" class="btn btn-outline-primary" (click)="next()" [disabled]="currentPage==pageCount">
            <i class="fa fa-angle-right"></i>
          </button>

          <button type="button" class="btn btn-outline-primary" (click)="moveLast()" [disabled]="currentPage==pageCount">
            <i class="fa fa-angle-double-right"></i>
          </button>

          <button type="button" class="btn btn-outline-primary" (click)="refreshList()">
            <i class="fas fa-sync-alt"></i>
          </button>

          <button  type="button" class="btn btn-outline-primary" (click)="exportList()">
            <i class="fas fa-file-excel"></i>
          </button>

          <label class="last"><b>Displaying records {{from}}-{{to}} of {{totalRecords}}</b></label>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
