<purchase-navigation></purchase-navigation>

<data-grid [headers]="['Priority','Description','Vendor','CAN', 'Object Class', 'Planned Amount','Date', 'Status','Notes','Tags', 'Actions']"
           [columns]="['priorityImgUrl','description','vendor','canDescription', 'objectClass', 'planedAmount', 'purchaseDate','status','notes','tagImgUrl','']"
           [column-widths]="[80, 200, 200, 100, 100, 150, 150, 150, 150, 200, 200]"
           [column-types]="['image', 'text', 'text', 'text', 'text', 'currency', 'date', 'text', 'text', 'image', 'action']"
           [column-alignments]="['center','left','left','left','left','right','center','center','left','center','center']"
           [sortable]="[true,true,true,true,true,true,true,true,false,false,false]"
           [pages]="[10,20,50,100]"           
           [selected-page-size]="10"
           [sort-by]="description"
           [sort-direction]="asc"
           [current-page]="1"
           [can-export]="true"
           (page-changed)="pageChanged($event)"
           (export-clicked)="exportClicked($event)">

</data-grid>
