<div class="niaid-footer">
  <div class="niaid-footer-links">
    <p><small><a href="mailto:NIAIDCPETechnicalSupport@mail.nih.gov">Email Software Support</a> | Last Updated: 12:00 05/21/2019 | Developed by SEB/OCICB/NIAID</small></p>
  </div><!-- /.niaid-footer-links -->
  <div class="niaid-footer-logos">
    <a target="_blank" href="http://www.dhhs.gov">
      <img src="../../assets/images/hhs-logo.svg" alt="H H S Official Logo in dark gray color" />
    </a>
    <a target="_blank" href="http://www.niaid.nih.gov"><img src="../../assets/images/niaid-logo-footer.svg" alt="National Institute of Allergy and Infectious Diseases (N I A I D) Official Logo" /></a>
    <a target="_blank" href="http://www.usa.gov"><img src="../../assets/images/usadotgov-logo.svg" alt="U S A dot gov Logo in unsaturated colors" /></a>
  </div><!-- /.niaid-footer-logos -->
</div><!-- /.niaid-footer -->
